@font-face {
    font-family: 'Averta CY';
    src: url('css/fonts/Averta CY/AvertaCY-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html{
    background: url('css/img/mainback.jpg') no-repeat center center fixed;
    background-size: cover;
}
body {
    font-family: 'Averta CY', sans-serif;
    color: #fff;
    font-size: 16px;
}